body{
  background-color: yellow;


  nav{
      text-align:center;

    ul{
      list-style: none;
      img{
        width: 500px;
        position: fixed;
        top: 33%;
        margin-top: -50px;
        margin-left: -250px;
      }
    }
  }

}
