body{
  background-color: #EFDFDF;
  border-top: 3px solid #BC2222;

  nav{
      text-align:center;

    ul{
      list-style: none;
      img{
        width: 500px;
        position: fixed;
        top: 100px;
        margin-top: -50px;
        margin-left: -250px;
      }
    }
  }

}
