@import "lib";
@import "prism";

html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  body{
    background-color: $off-white;
    border-top: 3px solid #BC2222;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    .loading{
      display: block;
      text-align: center;
      padding-top: 60px;
    }
    a{
      color: $red;
      text-decoration: none;
      transition: border-color .1s;
      border-bottom: 1px solid transparent;
      &:hover{
        border-color: $red;
      }
    }

    :not(pre) > code[class*="language-"]{
      padding: 12px 30px !important;
    }

    button, a.button{
      background-color: $red;
      color: $white;
      padding: 7px 15px;
      border-radius: 5px;
      transition: box-shadow .15s;
      box-shadow: inset 0 -100px 0 0 rgba(0,0,0,0);

      &:hover{
        box-shadow: inset 0 -100px 0 0 rgba(0,0,0,.1);
      }
      &:active{
        box-shadow: inset 0 -100px 0 0 rgba(0,0,0,.2);
      }
    }

    p{
      line-height: 1.6;
    }

    nav#chrome{
        text-align:center;
        overflow: auto;

      ul.nav-content{
        @include flex-canvas();
        list-style: none;
        img{
          width: 500px;
          margin: 30px auto 20px;
        }
        iframe{
          float: right;
        }
      }
      .nav-link{
          color: black;
          padding: 0 7px;
          font-size: 18px;
      }
      .icon-link{
        border: none !important;
      }
    }

    .main{
      display: block;
      width: 1200px;
      margin: auto;
    }
  }
}
