@import "lib";
@import "prism";

.__slackin {
  z-index: 9999;
  margin-left: 9px;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;

  body{
    background-color: $off-white;
    position: absolute;
    overflow-x: hidden;
    top:0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

    background-image: url(/assets/images/logos/medium.svg);
    background-repeat: no-repeat;
    background-size: 260px;
    background-attachment: fixed;
    background-position: calc(50% - 446px) 20px;

    .loading{
      display: block;
      text-align: center;
      padding-top: 60px;
    }
    a{
      color: $blue;
      text-decoration: none;
      transition: border-color .1s;
      border-bottom: 1px solid transparent;
      &:hover{
        border-color: $blue;
      }
    }

    .icon-link{
      border: none !important;
      position: fixed;
      top: 198px;
      width: 30px;
      text-align: center;
      z-index: 1000;
      i{
        color: $blue;
      }
      &.github{
        left: calc(50% - 490px);
      }
      &.code{
        left: calc(50% - 462px);
      }
      &.twitter{
        left: calc(50% - 430px);
      }
    }

    :not(pre) > code[class*="language-"]{
      padding: 12px 30px !important;
    }

    button, a.button{
      background-color: $red;
      color: $white;
      padding: 7px 15px;
      border-radius: 5px;
      transition: box-shadow .15s;
      box-shadow: inset 0 -100px 0 0 rgba(0,0,0,0);

      &:hover{
        box-shadow: inset 0 -100px 0 0 rgba(0,0,0,.1);
      }
      &:active{
        box-shadow: inset 0 -100px 0 0 rgba(0,0,0,.2);
      }
    }

    p{
      line-height: 1.6;
    }

    nav#chrome{
      overflow: auto;
      background-color: $blue;
      background-image: url(/assets/images/logos/medium-inverse.svg);
      background-repeat: no-repeat;
      background-size: 260px;
      background-attachment: fixed;
      background-position: calc(50% - 446px) 20px;
      height: 230px;

      .logo{
        visibility: hidden;
        height: 180px;
        display: block;
      }

      .nav-content{
        @include flex-canvas();
        position: absolute;
        clip: rect(0, auto, auto, 0);
        left: 50%;
        margin-left: -600px;
        @include breakpoint(mama-bear){
          margin-left: -50%
        }
        height: 230px;
        iframe{
          float: right;
        }
      }
      .nav-link{
          color: black;
          padding: 0 7px;
          font-size: 18px;
      }
      .icon-link{
        z-index: 1001;
        i{
          color: $white;
        }
      }
    }

   & > main{
      display: block;
      width: 1200px;
      margin: auto;
      position: relative;
      z-index: 999;
    }
  }
}
