<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,400' rel='stylesheet' type='text/css'>

<title>Rebound Js</title>

<meta name="description" content="Automatic data binding for Backbone using HTMLBars" />

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,minimal-ui">

<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<script src="/vendor/underscore/underscore.js"></script>
<script src="/vendor/smooth-scroll/dist/js/smooth-scroll.js"></script>
<script src="/vendor/reboundjs/rebound.runtime.js" id="Rebound">
{
  "root": "/",
  "globalComponents": {},
  "jsPath": "/templates/:app/:app.js",
  "cssPath": "/stylesheets/apps/:app.css",
  "triggerOnFirstLoad": true,
  "routeMapping": {
    ":route(/*actions)": "index"
  }
}
</script>