<nav id="chrome">
  <ul class="nav-content">
    <li>
      <a href="/" class="menu-item menu-logo icon-link">
        <img src="/images/rebound.svg">
      </a>
    </li>
    <a href="https://github.com/epicmiller/rebound" target="_blank" class="icon-link"><i class="fa fa-github nav-link"></i></a>
    <a href="http://reboundjs.com/vendor/reboundjs/docs/rebound.html" target="_blank" class="icon-link"><i class="fa fa-code nav-link"></i></a>
    <a href="https://twitter.com/reboundjs" target="_blank" class="icon-link"><i class="fa fa-twitter nav-link"></i></a>
    <br>
    <a href="https://twitter.com/reboundjs" class="twitter-follow-button" style="display: none;" data-show-count="false" data-show-screen-name="false">Follow @reboundjs</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="https://ghbtns.com/github-btn.html?user=epicmiller&repo=rebound&type=star&count=true" frameborder="0" scrolling="0" width="60px" height="20px"></iframe>


  </ul>
</nav>