@import "../lib";

rebound-home{
  @include flex-canvas();
  display: block;
  margin-top: 10px;
  border-radius: 2px;
  overflow: auto;
  text-align: left;
  border: 15px solid white;
  box-shadow: 0px 1px 1px #4D4D4D;
  margin-bottom: 60px;
  padding: 0;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;

  nav.subnav{
    @include flex-grid(6);
    border-right: 1px solid #ccc;
    display: block;
    height: 100%;
    background: rgba(0,0,0,.05);
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;

    &.fixed{
      position: fixed;
      width: 293px;
      padding-bottom: 70px;
    }

    .nav-item{
      display: block;
      text-align: left;
      font-weight: 200;
      text-decoration: none;
      padding: 10px 15px;
      font-size: 14px;
      color: black;
      transition: background .1s, color .1s;
      border: none;

      &:hover{
        background: rgba(0,0,0,.05);
      }
      &.active{
        background: $red;
        color: white;
      }
    }
    .subnav-item{
      display: block;
      text-align: left;
      font-weight: 200;
      text-decoration: none;
      padding: 5px 25px;
      font-size: 12px;
      color: black;
      transition: background .1s, color .1s;
      border: none;

      &:before{
        content: '- ';
      }

      &:hover{
        background: rgba(0,0,0,.05);
      }
      &.active{
        background: rgba(0,0,0,.5);
        color: white;
      }
    }
    h2{
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 10px;
      font-weight: 400;
      background: $brown;
      color: white;
      margin: 0;

    }

  }
  main{
    @include flex-grid(18, $padding: 3, $offset: 6);
    box-shadow: -3px 0 0 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    background: $off-white;

    h1{
      display: block;
      text-align: center;
      margin-top: 60px;
      border-bottom: 3px solid rgba(0,0,0,.1);
      padding-bottom: 30px;
    }
    h2{
      background: $off-white;
      float: left;
      margin: 30px 100% 25px 0;
      padding-right: 15px;
      white-space: pre;
      &:after{
        content: '';
        background: #ccc;
        height: 1px;
        width: 100%;
        position: absolute;
        z-index: -1;
        margin-top: 19px;
      }

    }
    h3{
      &:before {
        content: '';
        display: inline;
        float: left;
        width: 5px;
        height: 2px;
        background: black;
        border-radius: 7px;
        margin: 13px 5px 0 0;
      }
      code{
        font-weight: normal;
        margin-left: 15px;
      }
    }
    p{
      margin-left: 11px;
      code{
        padding: 2px 3px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        white-space: pre;
      }
    }

    .download-button{
      display: block;
      margin: auto;
      width: 210px;
      text-align: center;
    }
    .download-runtime-button{
      display: block;
      margin: auto;
      text-align: center;
      font-size: 12px;
    }

    .donwload-or{
      display: block;
      text-align: center;
      padding: 15px 0 18px 0;
      font-size: 18px;
      color: $dark-gray;
    }

    .bower-install{
      display: block;
      margin: auto;
      width: 210px;
      text-align: center;
      margin-top: 30px;
      border-bottom: 1px solid $white;
    }
  }
}

rebound-templates-helpers{
  form.demo{
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 75%;
    padding: 30px;
    box-sizing: border-box;

    h4{
      word-break: break-word;
      margin-top: 0;
    }

  }
}