.DS_Store
.sass-cache
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
tmp

node_modules
public/stylesheets
public/templates
public/javascripts/vendor
public/javascripts/lib/collegia.framework.js
public/tmp
public/vendor
