<!DOCTYPE html>
<html class="no-js" id="top" xmlns:a="test">
  <head>
    {{> head this}}
  </head>

  <body id="{{app}}">

    {{> nav this}}

      <content>

          {{{body}}}

      </content>

    {{> footer}}

  </body>
</html>
