<!DOCTYPE html>
<html class="no-js">
  <head>
    {{> head this}}
  </head>

  <body id="{{app}}">

    {{> nav this}}

    <div class="main">
      <div class="wrapper">

          {{{body}}}

      </div>
    </div>

    {{> footer}}

  </body>
</html>
