<element name="rebound-home">
  <template>

    <link rel="import" href="index/components/overview.html">
    <link rel="import" href="index/components/getting-started.html">

    <link rel="import" href="index/components/rebound-data/events.html">
    <link rel="import" href="index/components/rebound-data/models.html">
    <link rel="import" href="index/components/rebound-data/collections.html">
    <link rel="import" href="index/components/rebound-data/computed-properties.html">

    <link rel="import" href="index/components/rebound-templates/basic.html">
    <link rel="import" href="index/components/rebound-templates/helpers.html">


    <nav class="subnav fixed" style="height: calc(100vh - {{menuOffset}}px); top: {{menuOffset}}px;" {{on 'click' 'a' 'highlight'}}>
      <h2>ReboundJS</h2>
        <a href="/" class="nav-item selected">Overview</a>
        <a href="/start" class="nav-item">Getting Started</a>

      <h2>Data</h2>
        <a href="/data/overview" class="nav-item">Overview</a>
        <a href="/data/events" class="nav-item">Events</a>
        <a href="/data/model" class="nav-item">Models</a>
          <a href="/data/model/constructor" class="subnav-item">Constructor / Initialize</a>
          <a href="/data/model/get" class="subnav-item">get</a>
          <a href="/data/model/set" class="subnav-item">set</a>
          <a href="/data/model/toggle" class="subnav-item">toggle</a>
          <a href="/data/model/tojson" class="subnav-item">toJSON</a>
          <a href="/data/model/reset" class="subnav-item">reset</a>
        <a href="/data/collection" class="nav-item">Collections</a>
          <a href="/data/collection/constructor" class="subnav-item">Constructor / Initialize</a>
          <a href="/data/collection/get" class="subnav-item">get</a>
          <a href="/data/collection/set" class="subnav-item">set</a>
          <a href="/data/collection/reset" class="subnav-item">reset</a>
          <a href="/data/collection/tojson" class="subnav-item">toJSON</a>
        <a href="/data/computedproperty" class="nav-item">Computed Properties</a>
          <a href="/data/computedproperty/basics" class="subnav-item">Basic Use</a>
          <a href="/data/computedproperty/chaining" class="subnav-item">Chaining Computed Properties</a>
          <a href="/data/computedproperty/updating" class="subnav-item">Dynamic Updating</a>
          <a href="/data/computedproperty/complex-objects" class="subnav-item">Returning Complex Objects</a>

      <h2>Templates</h2>
        <a href="/templates/overview" class="nav-item">Overview</a>
        <a href="/templates/basics" class="nav-item">Basic Use</a>
        <a href="/templates/expressions" class="nav-item">Expressions</a>
        <a href="/templates/helpers" class="nav-item">Helpers</a>
        <a href="/helpers" class="nav-item">Built In Helpers</a>
          <a href="/helpers/length" class="subnav-item">length</a>
          <a href="/helpers/if" class="subnav-item">if</a>
          <a href="/helpers/unless" class="subnav-item">unless</a>
          <a href="/helpers/each" class="subnav-item">each</a>
          <a href="/helpers/on" class="subnav-item">on</a>
        <a href="/dev-helpers" class="nav-item">Developer Helpers</a>
          <a href="/dev-helpers/log" class="subnav-item">log</a>
          <a href="/dev-helpers/debugger" class="subnav-item">debugger</a>
        <a href="/writing-helpers" class="nav-item">Writing Your Own Helpers</a>
        <a href="/templates/databinding" class="nav-item">Automatic Data Binding</a>

      <h2>Components</h2>
        <a href="/components/overview" class="nav-item">Overview</a>
        <a href="/components" class="nav-item">Custom Elements</a>


      <h2>Routing</h2>
        <a href="/routing" class="nav-item">Routable Components</a>

    </nav>

    <main>

      <rebound-home-overview version="{{versions.[0]}}"></rebound-home-overview>
      <rebound-getting-started></rebound-getting-started>

      <h1 id="data-overview">Rebound Data</h1>
      <p>Rebound extends Backbone's powerful data objects to allow for <b>deep nesting</b> and adds <b>Computed Properties</b> into the mix, offering you a whole new level of power and flexibility.</p>
      <p>These model's inherit all of Backbone's convenience functions and you can <a href="http://backbonejs.org/" target="_blank">refer to Backbone's documentation</a> for referance. Below we describe features unique to Rebound.</p>
      <p><b>In most scenarios you will use Rebound Data objects in the context of <a href="/components">Components</a> and will not have to create them directly</b></p>

      <rebound-data-events></rebound-data-events>
      <rebound-data-models></rebound-data-models>
      <rebound-data-collections></rebound-data-collections>
      <rebound-data-computed-properties></rebound-data-computed-properties>

      <h1 id="templates-overview">Rebound Templates</h1>
      <p>Rebound uses <a href="https://github.com/tildeio/htmlbars">HTMLBars</a>, a brilliant templating system for the web built on top of Handlebars, to drive your app's user interface.</p>
      <p>You can write HTMLBars templates just like you write HTML, but they allow you to embed expressions into your markup that update automatically with your data.</p>

      <rebound-templates-basic></rebound-templates-basic>
      <rebound-templates-helpers></rebound-templates-helpers>

      <h1 id="components-overview">Rebound Components</h1>
      <p>In Rebound, everything you write is a Component.</p>

    </main>

  </template>
  <script>

    var versions = Rebound.Collection.extend({
      initialize: function(){
        this.fetch({reset: true});
      },
      url: 'https://api.github.com/repos/epicmiller/reboundjs-dist/tags'
    });

    return ({

    /*********** Controller Default Configs **************/


      routes: {
        '': 'route',
        ':route(/*actions)': 'route'
      },

      createdCallback: function(){
        smoothScroll.init({
            speed: 1000, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            updateURL: false // Boolean. Whether or not to update the URL with the anchor hash on scroll
        });
      },

      attachedCallback: function(){

        var main = this.el.getElementsByTagName('main')[0];
        var headers = [];
        var h1 = Array.prototype.slice.call(main.querySelectorAll('h1'));
        var h2 = Array.prototype.slice.call(main.querySelectorAll('h2'));
        var h3 = Array.prototype.slice.call(main.querySelectorAll('h3'));

        headers = headers.concat(h1);
        headers = headers.concat(h2);
        headers = headers.concat(h3);
        var scrollPosition = 0;
        var that = this;
        var active = headers[0];
            scrollCallback = function(){
              window.requestAnimationFrame(scrollCallback);
              that.set('scrollPosition', window.scrollY);
              if(scrollPosition === window.scrollY) return;
              scrollPosition = window.scrollY;
              var smallest = -999999999;
              headers.forEach(function(el){
                var top = el.getBoundingClientRect().top
                if(top <= 0 && top > smallest){
                  smallest = top;
                  active = el;
                }
              });
              console.log(active.id.replace('-', '/'));
              // Rebound.router.navigate(active.id.replace(/-/g, '/'));
            };

        scrollCallback();
        Prism.highlightAll();

      },

    /*********** Controller Default Properties **************/

      scrollPosition: 0,
      get menuOffset(){
        var pos = this.get('scrollPosition');
        return (pos >=233) ? 0 : 233 - pos;
      },
      versions: new versions([{name: '--.--.--'}]),


    /************** Controller Functions *****************/

      route: function(path, args){
        console.log(arguments);
        smoothScroll.animateScroll( null, '#'+(Backbone.history.fragment.replace(/\//g, '-') || 'top'), {updateURL: false});

        var old = document.querySelectorAll('a.nav-item.active')[0];
        old && old.classList.remove('active');

        var el = document.querySelectorAll('a.subnav-item.active')[0];
        el = (window.event) ? window.event.target : el;
        if(!el) return;
        do{
          if(el.classList.contains('nav-item')){
            el.classList.add('active');
            return;
          }
        }while(el = el.previousElementSibling)
      },

      highlight: function(event){

      }

    })
  </script>
</element>



