<element name="rebound-templates-helpers">
  <template>

    <h2 id="templates-helpers">Helpers</h2>

      <p>Helpers add a light layer of functionality and logic to your templates, take any number of parameters or hash arguments, and come in two forms.</p>
      <p>Parameters and hash arguments can be <code>expressions</code>, <code>strings</code>, <code>numbers</code> or <code>boolean</code> values</p>
      <p><b>Inline</b> helpers are a single mustache :</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '<p>{{helperName param1 true hash1=foo.value hash2="bar" hash3=12}}</p>'}}</code></pre>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '<p>{{helperName}}</p>'}}</code></pre>

      <p><b>Block</b> helpers are identified by a <code>#</code> preceeding the
         helper name and require a matching closing mustache, <code>/</code>, of the same name.
         The template between these two tags is used by the helper to build your HTML.</p>
      <p>These helpers allow you to provide an optional second (inverse) template after the optional <code>&#123;&#123;else}}</code> mustache.</p>
      <p>Depending on the block helper, the template or inverse template inside may or may not be rendered any number of times.</p>
      <p>In HTMLBars, block helpers typically <b>will not</b> change the context of the
         template inside it, but may provide an api to inject additional data called
         <b>block params</b> inside its context. You can choose to expose these
         values and choose the paths adding the optional <code>as | value |</code>
         to the end of your block helper's opening mustache.</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '{{#helperName param1}}'}}
{{if 1 '    <p>{{param1}}, {{blockParam1}}</p>'}}
{{if 1 '{{/helperName}}'}}</code></pre>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '{{#helperName param1 param2 hash1=foo hash2="bar" as | blockParam1 blockParam2 |}}'}}
{{if 1 '    <p>{{param1}}, {{blockParam1}}</p>'}}
{{if 1 '{{else}}'}}
{{if 1 '    <p>{{param2}}, {{blockParam2}}</p>'}}
{{if 1 '{{/helperName}}'}}</code></pre>

      <p><b>Subexpressions</b> allow you to invoke multiple helpers within a
         single mustache, and pass in the results of inner helper invocations as
         arguments to outer helpers. Subexpressions are delimited by parentheses.</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "{{outer-helper (inner-helper 'abc') 'def'}}"}}</code></pre>


      <h2 id="helpers">Built In Helpers</h2>
        <p>Rebound ships with a number of convenient helpers built in. These can
           be used in any template you write to help render your HTML</p>

        <h3 id="helpers-length">length</h3>
        <p>The length helper will output the length of a collection. Simple as that</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "{{length trainer.pokemon}} // Renders '6'"}}</code></pre>

        <h3 id="helpers-if">if</h3>
        <p>Sometimes you only want to render part of your template if a parameter is truthy</p>
        <p>Rebound will not render the block if the argument passed evaluates to
           <code>false</code>, <code>undefined</code>, <code>null</code> or
           <code>[]</code> (i.e., any "falsy" value).</p>
        <p>If the expression evaluates to falsy, we can also display an alternate template using <code>&#123;&#123;else}}</code>:</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '{{#if isPokemonMaster}}'}}
{{if 1 "    You caught 'em all!"}}
{{if 1 '{{else}}'}}
{{if 1 "    Gotta catch 'em all!"}}
{{if 1 '{{/if}}'}}</code></pre>

        <p>If can also be written in an inline form for cases where you can't or don't want to use its block form</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "<p class={{if isPokemonMaster 'master' 'n00b'}}>"}}
{{if 1 "    Adam Miller is a {{if isPokemonMaster 'master' 'n00b'}}!"}}
{{if 1 "</p>"}}</code></pre>

        <h3 id="helpers-unless">unless</h3>
        <p>Unless is the opposite of our if helper.</p>
        <p>Rebound will only render the block if the argument passed evaluates to
           <code>false</code>, <code>undefined</code>, <code>null</code> or
           <code>[]</code> (i.e., any "falsy" value).</p>
        <p>If the expression is truthy, we can also display an alternate template using <code>&#123;&#123;else}}</code>:</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '{{#unless isPokemonMaster}}'}}
{{if 1 "    Gotta catch 'em all!"}}
{{if 1 '{{else}}'}}
{{if 1 "    You caught 'em all!"}}
{{if 1 '{{/if}}'}}</code></pre>

        <p>Unless can also be written in an inline form for cases where you can't or don't want to use its block form</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "<p class={{unless isPokemonMaster 'n00b' 'master'}}>"}}
{{if 1 "    Adam Miller is a {{unless isPokemonMaster 'n00b' 'master'}}!"}}
{{if 1 "</p>"}}</code></pre>

        <h3 id="helpers-each">each</h3>
        <p>Rebound's each helper will render the template for every item in a collection.</p>
        <p>The first block param is the item in the collection currently being render, the second block param is that element's index.</p>

        <p>If the collection is empty, we can also display an alternate template using <code>&#123;&#123;else}}</code>:</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '{{#each pokemon as | pkmn index |}}'}}
{{if 1 "    <p>{{index}}: {{pkmn.nickname}} is a {{pkmn.type}}</p>"}}
{{if 1 '{{else}}'}}
{{if 1 "    <p>Go wander around in the tall grass!</p>"}}
{{if 1 '{{/each}}'}}</code></pre>

        <h3 id="helpers-on">on <code>&#123;&#123;on eventNames [delegateSelector] eventCallbacks hash1=value}}</code></h3>
        <p>Rebound's <b>on</b> helper binds event callbacks to the element it is placed on.
           It is similar to using <code>$.on()</code> to bind events programatically.
           As parts of your dom is re-rendered and removed, Rebound will automatically
           clean up the events associated with those elements so you don't have to.</p>
        <p>The events list is a space seperated list of one or more browser or custom defined event names.</p>
        <p>The event callback names are a space seperated list of methods defined on the component this template is a part of. (See <a href="/components">Components</a>)</p>
        <p>The <b>on</b> helper delegates all events to the template's component tag.
           By default, it will call events only if the exact element it has been placed on fires the event.
           However, this behavior can be customized by providing an optional second parameter, a css selector, to use as a comparator.
           If any element matching this selector triggers one of the named events, the callback will be run.</p>
        <p>Values passed in through named parameters are made available on the <code>event.data</code> attribute of the event.
           This is helpful for passing block params to the event callback, which is always called in the scope of its component.</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 '<div class="pokemon-selector">'}}
{{if 1 '  {{#each pokemon as | pkmn |}}'}}
{{if 1 '    // This will call the `choose` method on the controler on click and touchend.'}}
{{if 1 '    // By providing a delegate selector, only one event is bound for the whole list'}}
{{if 1 '    // and by passing pokemon=pkmn, the event callback will have access to the'}}
{{if 1 '    // clicked pokemon via event.data.pokemon'}}
{{if 1 '    <a {{on "click touchend" ".pokemon-selector a" "choose" pokemon=pkmn}}>'}}
{{if 1 '      {{pkmn.nickname}}, I Choose You!'}}
{{if 1 '    </a>'}}
{{if 1 '  {{/each}}'}}
{{if 1 '</div>'}}</code></pre>

    <h2 id="dev-helpers">Developer Helpers</h2>
        <p>These helpers are here for your conveinence as a developer and will help you debug problems in your templaes.</p>

        <h3 id="dev-helpers-log">log</h3>
        <p>The log helper will console.log any parameters passed in. Parameters
           can be <code>expressions</code>, <code>strings</code>, <code>numbers</code>
          or <code>boolean</code> values</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "{{log trainer.firstName 'has' (length trainer.pokemon) 'of' 151 'pokemon:' trainer.pokemon}}" }}</code></pre>

        <h3 id="dev-helpers-debugger">debugger</h3>
        <p>The debugger helper will pause execution while rendering the template
           and allow you to inspect the current context and stack trace at the
           point it is inserted.</p>
<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "{{debugger}}" }}</code></pre>


    <h2 id="writing-helpers">Writing Helpers</h2>
      <p>You can also define your own helpers to use in your Rebound templates.
         Rebound exposes a global <code>Rebound.registerHelper('name', function)</code> method.</p>

      <p>I'll tell you more details on how to do it when I figure it out myself ;P</p>



    <h2 id="templates-databinding">Automatic Data Binding</h2>
      <p>Automatic data binding is one of the largest benefits of Rebound templates.
         Data binding means that as the underlying data and computed properties used to render your template change,
         your DOM will update itself automatically to reflect your application's new state.</p>

      <p>Expressions inlined into your templates will be updated with new values,
         lists rendered with <code>{{if 1 "{{#each}}"}}</code> and lengths output
         with <code>{{if 1 "{{length}}"}}</code> will update themselves as models are added or removed,
         logical helpers like <code>{{if 1 "{{#if}}"}}</code> and <code>{{if 1 "{{#unless}}"}}</code> will re-evaluate as dependancies change,
         and any user-defined helpers will also be bound to their inputs, and re-evaluate when needed.</p>

      <p>As users modify form elements in the browser, Rebound will automatically keep your data in sync with the state of the DOM.
         Input elements' <code>value</code> fields and checkbox and radio buttons'
         <code>checked</code> properties will automatically update the data values they are bound to.</p>

         <p>For example, this template:</p>

<pre data-src="prism.js" class="line-numbers"><code class="language-handlebars">
{{if 1 "<p>Trainer {{firstName}} {{lastName}} is" }}
{{if 1 "   {{if master 'a Pokemon master!' 'not a Pokemon master...yet!'}}</p>" }}

{{if 1 '<label for="firstName">First Name:</label>' }}
{{if 1 '<input id="firstName" value="{{firstName}}">' }}

{{if 1 '<label for="lastName">Last Name:</label>' }}
{{if 1 '<input id="lastName" value="{{lastName}}">' }}

{{if 1 '<label for="isMaster">Is a Master:</label>' }}
{{if 1 '<input type="checkbox" id="isMaster" checked="{{master}}">' }}</code></pre>

      <p>Generates this demo to help you better understand data binding:</p>

      <form class="demo" style="text-align:center;">
        <h4>Trainer {{firstName}} {{lastName}} {{if master 'is a Pokemon master!' 'is not a Pokemon master...yet!'}}</h4>
        <p><label for="firstName">First Name:</label>
        <input id="firstName" value="{{firstName}}"></p>
        <p><label for="lastName">Last Name:</label>
        <input id="lastName" value="{{lastName}}"></p>
        <p><label for="isMaster">Is a Master:</label>
        <input type="checkbox" id="isMaster" checked="{{master}}"></p>
      </form>

  </template>
  <script>return {
    firstName: 'Adam',
    lastName: 'Miller',
    master: true
  }</script>
</element>