/* line 1, ../../scss/main.scss */
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
/* line 9, ../../scss/main.scss */
html body {
  background-color: #EFDFDF;
  border-top: 3px solid #BC2222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
/* line 20, ../../scss/main.scss */
html body nav {
  text-align: center;
}
/* line 23, ../../scss/main.scss */
html body nav ul {
  list-style: none;
}
/* line 25, ../../scss/main.scss */
html body nav ul img {
  width: 500px;
  position: fixed;
  top: 100px;
  margin-top: -50px;
  margin-left: -250px;
}
