/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+handlebars */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
/* line 9, ../../scss/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
/* line 31, ../../scss/_prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

/* line 39, ../../scss/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
/* line 44, ../../scss/_prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

/* line 52, ../../scss/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 56, ../../scss/_prism.scss */
.token.punctuation {
  color: #f8f8f2;
}

/* line 60, ../../scss/_prism.scss */
.namespace {
  opacity: .7;
}

/* line 68, ../../scss/_prism.scss */
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

/* line 73, ../../scss/_prism.scss */
.token.boolean,
.token.number {
  color: #ae81ff;
}

/* line 82, ../../scss/_prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

/* line 91, ../../scss/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

/* line 96, ../../scss/_prism.scss */
.token.atrule,
.token.attr-value {
  color: #e6db74;
}

/* line 100, ../../scss/_prism.scss */
.token.keyword {
  color: #66d9ef;
}

/* line 105, ../../scss/_prism.scss */
.token.regex,
.token.important {
  color: #fd971f;
}

/* line 110, ../../scss/_prism.scss */
.token.important,
.token.bold {
  font-weight: bold;
}

/* line 113, ../../scss/_prism.scss */
.token.italic {
  font-style: italic;
}

/* line 117, ../../scss/_prism.scss */
.token.entity {
  cursor: help;
}

/* line 4, ../../scss/main.scss */
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
/* line 13, ../../scss/main.scss */
html body {
  background-color: #f9f6f6;
  border-top: 3px solid #BC2222;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* line 24, ../../scss/main.scss */
html body .loading {
  display: block;
  text-align: center;
  padding-top: 60px;
}
/* line 29, ../../scss/main.scss */
html body a {
  color: #bc2222;
  text-decoration: none;
  transition: border-color .1s;
  border-bottom: 1px solid transparent;
}
/* line 34, ../../scss/main.scss */
html body a:hover {
  border-color: #bc2222;
}
/* line 39, ../../scss/main.scss */
html body :not(pre) > code[class*="language-"] {
  padding: 12px 30px !important;
}
/* line 43, ../../scss/main.scss */
html body button, html body a.button {
  background-color: #bc2222;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  transition: box-shadow .15s;
  box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0);
}
/* line 51, ../../scss/main.scss */
html body button:hover, html body a.button:hover {
  box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 54, ../../scss/main.scss */
html body button:active, html body a.button:active {
  box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0.2);
}
/* line 59, ../../scss/main.scss */
html body p {
  line-height: 1.6;
}
/* line 63, ../../scss/main.scss */
html body nav#chrome {
  text-align: center;
  overflow: auto;
}
/* line 67, ../../scss/main.scss */
html body nav#chrome ul.nav-content {
  width: 1200px;
  min-width: 320px;
  margin: auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
}
@media (min-width: 1200px) {
  /* line 67, ../../scss/main.scss */
  html body nav#chrome ul.nav-content {
    width: 1200px;
  }
}
@media (max-width: 1200px) and (min-width: 769px) {
  /* line 67, ../../scss/main.scss */
  html body nav#chrome ul.nav-content {
    width: 100%;
  }
}
@media (max-width: 769px) {
  /* line 67, ../../scss/main.scss */
  html body nav#chrome ul.nav-content {
    width: 100%;
  }
}
/* line 70, ../../scss/main.scss */
html body nav#chrome ul.nav-content img {
  width: 500px;
  margin: 30px auto 20px;
}
/* line 74, ../../scss/main.scss */
html body nav#chrome ul.nav-content iframe {
  float: right;
}
/* line 78, ../../scss/main.scss */
html body nav#chrome .nav-link {
  color: black;
  padding: 0 7px;
  font-size: 18px;
}
/* line 83, ../../scss/main.scss */
html body nav#chrome .icon-link {
  border: none !important;
}
/* line 88, ../../scss/main.scss */
html body .main {
  display: block;
  width: 1200px;
  margin: auto;
}
