<element name="rebound-getting-started">
  <template>

    <h2 id="start">Awesome! How do I use it?</h2>
    <p>You can include Rebound on your page like this:</p>

    <code-display type="markup">
      &lt;script src="/javascripts/lib/rebound.runtime.js" id="Rebound"&gt;
      {
        "container": "#app-container" // Defaults to the first &lt;main&gt; tag
        "root": "/",
        "services": {"chrome" : "nav"},
        "jsPath": "/javascripts/apps/:route/:app.js",
        "cssPath": "/stylesheets/apps/:app.css",
        "routeMapping": {
          "": "home"
        }
      }
      &lt;/script&gt;
    </code-display>

    <p>Because the Rebound script tag contains a src, nothing inside it gets executed, but is still accessable to the page as $('#Rebound').html().
       We take advantage of this to load Rebound's router config options right where you include the Rebound library itself. Convenient!
       Our <a href="/routing/overview">routing section</a> covers exactly what these config options do.</p>

    <p><b>If no config is passed to Rebound inside of its script tag then Rebound's router will not start.
          This leaves you with a standalone data bound component library to integrate with as you see fit.</b></p>

    <p>Like Backbone, Rebound's only hard dependancy is a utility library, like <a href="www.underscorejs.org">Underscore</a> or <a href="https://lodash.com/">Lodash</a>. Rebound has no dependancy on JQuery, and shims JQuery's ajax method for RESTful persistance.</p>



  </template>
  <script>return {}</script>
</element>