<element name="rebound-home-overview">
  <template>

    <code class="language-markup bower-install">bower install reboundjs</code>
    <span class="donwload-or">or</span>
    <a href="{{version.zipball_url}}" class="button download-button"  download>Download: v{{version.name}}</a>

    <h2>What is Rebound?</h2>
    <p>Rebound is a data-bound Model View Component framework built on <a href="http://www.backbonejs.org" target="_blank">Backbone</a> and <a href="https://github.com/tildeio/htmlbars" target="_blank">HTMLBars</a>.</p>
    <p>Rebound replaces Backbone's view layer with HTMLBars templates, binding your models to the dom on render and live updating your page as they change. </p>
    <p>To make the conversation two-way, event helpers and automatic bindings to form elements let you respond to user interaction. </p>
    <p>Combine this with an augmented, but still powerfully simple router and the new Web Components specification, and you get an amazingly small but powerful framework to develop data-bound single page apps.</p>

  </template>
  <script>return {}</script>
</element>