@import "../lib";

#top-bar{
  display: block;
  position: absolute;
  top: -220px;
  color: $white;
  left: calc(50% - 150px);

  .center{
    width: 300px;
    text-align: center;

    .download-button{
      display: block;
      margin: auto;
      width: 210px;
      text-align: center;
      background-color: $white;
      color: $blue;
    }
    .donwload-or{
      display: block;
      text-align: center;
      padding: 15px 0 18px 0;
      font-size: 18px;
      color: $white;
    }
    .bower-install{
      display: block;
      margin: auto;
      width: 210px;
      text-align: center;
      margin-top: 30px;
      background-color: $white;
      color: #777;
      text-shadow: none;
    }
  }
}

rebound-home{
  @include flex-canvas();
  @include clearfix();
  display: block;
  overflow: auto;
  text-align: left;
  margin-bottom: 60px;
  padding: 0;
  position: relative;
  overflow: visible;
  z-index: 1;

  nav.subnav[rebound-home]{
    @include flex-grid(6);
    display: block;
    position: absolute;
    top: 230px;
    bottom: 0;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    width: 15.65%;
    z-index: 2;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,.3) 0px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,.3) 0px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(to bottom, rgba(0,0,0,.3) 0px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(to bottom, rgba(0,0,0,.3) 0px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,.3) 0px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 100%);
    background-position: 0px 0px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 3px;
      background-color: $off-white;
      z-index: -2;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 3px;
      right: 0px;
      height: 3px;
      background-color: rgba(0,0,0,0.05);
      z-index: -1;
    }

    .nav-item{
      display: block;
      text-align: left;
      font-weight: 200;
      text-decoration: none;
      padding: 10px 15px;
      font-size: 14px;
      color: black;
      transition: background .1s, color .1s;
      border: 1px solid transparent;

      &:hover{
        background: rgba(0,0,0,.05);
      }
      &.active{
        background: $white;
        color: $black;
        border: 1px solid #ccc;
        box-sizing: content-box;
        width: calc(100% - 25px);
      }
    }
    .subnav-item{
      display: block;
      text-align: left;
      font-weight: 200;
      text-decoration: none;
      padding: 5px 25px;
      font-size: 12px;
      color: black;
      transition: background .1s, color .1s;
      border: none;

      &:before{
        content: '- ';
      }

      &:hover{
        background: rgba(0,0,0,.05);
      }
      &.active{
        background: rgba(0,0,0,.45);
        color: white;
      }
    }
    h2{
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 10px;
      font-weight: 400;
      background: $blue;
      color: white;
      margin: 0;
      padding: 8px;
    }

  }
  main{
    @include flex-grid(18, $padding: 3, $offset: 6);
    box-shadow: -3px 0 0 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    background: $white;
    border-left: 1px solid #ccc;

    &:before {
      content: "";
      position: absolute;
      width: 200%;
      height: 100%;
      background: white;
      z-index: -1;
      left: 0;
      top: 0;
    }

    h1{
      display: block;
      text-align: center;
      margin-top: 60px;
      border-bottom: 3px solid rgba(0,0,0,.1);
      padding-bottom: 30px;
    }
    h2{
      background: $white;
      float: left;
      margin: 30px 100% 25px 0;
      padding-right: 15px;
      white-space: pre;
      &:after{
        content: '';
        background: #ccc;
        height: 1px;
        width: 200%;
        position: absolute;
        z-index: -1;
        margin-top: 19px;
      }

    }
    h3{
      &:before {
        content: '';
        display: inline;
        float: left;
        width: 5px;
        height: 2px;
        background: black;
        border-radius: 7px;
        margin: 13px 5px 0 0;
      }
      code{
        font-weight: normal;
        margin-left: 15px;
      }
    }
    p{
      margin-left: 11px;
      code{
        padding: 2px 3px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 2px;
        white-space: pre;
      }
    }
  }
}

rebound-templates-helpers{
  form.demo{
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ccc;
    width: 75%;
    padding: 30px;
    box-sizing: border-box;

    h4{
      word-break: break-word;
      margin-top: 0;
    }

  }
}